.bin
.cache
.data
.temp
.docs
.git
.github
.dockerignore
.DS_Store
.env
.env.local
.env.*.local

Dockerfile
node_modules

README.md
scripts/

tmp/
dist/
build/
coverage/

*.log
*.db
*.sqlite
*.sqlite3
